.spacer {
  flex: 1 auto;
}

.empty {
  width: 35px;
}

.title {
  font-weight: 400;
  font-size: 18px;
}

mat-icon {
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  width: 32px;
}

mat-icon.as-button {
  cursor: pointer;
}

mat-icon.info {
  color: #888a8d;
  margin: 0 -4px 0 8px;
}

mat-toolbar {
  height: 32px;
  min-height: 32px;
  background: #fff;
}

button {
  height: 24px;
  min-height: 24px;
  margin: 0;
  padding: 0 12px 0 5px;
  font-size: 14px;
  color: #0096db;
  line-height: 1;
}

button mat-icon {
  padding-top: 3px;
  color: #0096db;
}
